<div class="container">
<link rel="stylesheet" href="/styles/login.css">
    <div class="row main cols-sm-3">
        <div class="panel-heading">
            <div class="panel-title text-center">
                Editar meu profile
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nome</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input ng-model="user_name" type="text" class="form-control" name="name" id="name" placeholder="{{user_logged.name}}" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input ng-model="user_email" type="text" class="form-control" name="email" id="email"  placeholder="{{user_logged.email}}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Nome de Usuário</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input ng-model="user_username" type="text" class="form-control" name="username" id="username"  placeholder="{{user_logged.login}}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bio" class="cols-sm-2 control-label">Bio</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input ng-model="user_bio" type="text" class="form-control" name="bio" id="bio"  placeholder="{{user_logged.bio}}"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Senha</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input ng-model="user_password" type="password" class="form-control" name="password" id="password"  placeholder="Digite sua senha"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirmar Senha</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input ng-model="user_password2" type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirme sua senha"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Data nascimento</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input ng-model="user_birth_date" type="date" class="form-control" name="birl_date" id="birl_data"  placeholder="" value={{user_logged.birth_date}}/>
                        </div>
                    </div>
                </div>
                <span ng-if="err_message != ''">
                    <div class="alert alert-danger">
                        {{err_message}}
                    </div> 
                </span>

                <div class="form-group ">
                    <button ng-click="update()" type="button" class="btn btn-primary btn-lg btn-block login-button">Editar</button>
                </div>
                <div class="form-group ">
                    <button ng-click="remove()" type="button" class="btn btn-primary btn-lg btn-block btn-danger login-button">Excluir minha conta</button>
                </div>
            </form>
        </div>
    </div>
</div>
